*{
    margin: 0;

}
.page{
    margin: auto;
    width: 1000px;
    height: 2000px;
    border: grey solid 2px;

}

/* Header*/
.background{
    height: 95px;
    background-color: #4da0ff;
    background-image: url(img/pattern.png);
    background-size: 545px  185px;
}
.logo{
    width: 200px;
    height: 50px;
    line-height: 160px;
    margin-left: 20px;
}
#title{
    margin-top: 20px;
    font-size: 38px;
    margin-left: 12px;
  }
.author{
    font-size: 18px;
    color:grey;
    margin-left: 12px;
}
.name-author{
    color: #4dc7ff;
}
.date{
    color: grey;
    font-size: 16px;
    margin-left: 12px;
}
.img-tim{
    margin-top: 20px;
    margin-left: 15px;
}
.tim1{
    max-width: 494px;
    height: 361px;
}
.tim2{
    max-width: 494px;
}
.text-tim{
    margin-left:12px;
    font-size: 12px;
}
/* End Header*/

/* Start Main*/
.text{
    margin-left: 12px;
}
.underline{
    background-color: yellow;
}
.list{
    margin-top: 20px;
}
.second_text{
    margin-top: 40px;
}
/* End Main*/
/* Start footer*/
footer{
    margin-top: 25px;
    margin-left: 12px;
}
.title{
    color: grey;

}
.image{
    margin-top: 15px;
}
.image_monitor{
    background-image: url(img/monitor.jpg);
    height: 185px;
    width: 265px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    line-height: 50px;
}
.image_graph{
    margin-top: 15px;
    background-image: url(img/graph.jpg);
    height: 185px;
    width: 265px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    line-height: 50px;
}
